*.beam
*.ez
/build
erl_crash.dump

/src/intldate/internal/local
/priv/icudata
/.cache/
/scripts/icu/.cache/
/scripts/icu/out
/priv/generated/
/test/format.json
/test/format_range.json
/test/relative.json
/test/format_parts.json
/test/format_range_parts.json
/test/relative_parts.json
/test/resolved_options.json
/test/relative_resolved_options.json
node_modules
